
/* LIGHT */
#light_indicator_container{
	width: 50%; 
	height: 80%; 
	margin:auto;
	float:left;
	 position: relative;

}
 #sun{
 	position: relative;
 	top:30%;
 	left:30%;
		width: 100px;
		height: 100px;
		border-radius:50%;
   /* background-color:red;*/
	}

	#outerSun{
	

	}
	#innerSun{
		width: 80px; height: 80px;
		position:relative;
		top: 10px;
		left: 10px; 
    border-radius:50%;
   background-color:yellow; 
    -webkit-box-shadow:0 0 30px 30px yellow;
	box-shadow:0 0 30px 30px yellow;
   z-index: 1
	}
	
	#innerSun.Lux-0{
		width: 80px; height: 80px;
		position:relative;
		top: 10px;
		left: 10px; 
    border-radius:50%;
		background-color:#B4B494;/*#F3F781*/
		 -webkit-box-shadow:0 0 0px 0px #B4B494;
	box-shadow:0 0 0px 0px #B4B494;
	}
	#innerSun.Lux-50{
		width: 80px; height: 80px;
		position:relative;
		top: 10px;
		left: 10px; 
    border-radius:50%;
		background-color:#BDBD65;/*#F3F781*/
		 -webkit-box-shadow:0 0 5px 5px #BDBD65;
	box-shadow:0 0 5px 5px #BDBD65;
	}
	#innerSun.Lux-100{
		 
   background-color:#C4C46F; 
    -webkit-box-shadow:0 0 10px 10px #C4C46F;
	box-shadow:0 0 10px 10px #C4C46F;
	
	}
	#innerSun.Lux-150{
		background-color:#C4C460; 
    	-webkit-box-shadow:0 0 15px 15px #C4C460;
		box-shadow:0 0 15px 15px #C4C460;
	}
	#innerSun.Lux-200{
		background-color:#D5D56B; 
    	-webkit-box-shadow:0 0 20px 20px #D5D56B;
		box-shadow:0 0 20px 20px #D5D56B;
	}
	#innerSun.Lux-250{
			background-color:#E9E975; 
    	-webkit-box-shadow:0 0 25px 25px #E9E975;
		box-shadow:0 0 25px 25px #E9E975;
	}
	#innerSun.Lux-300{
		background-color:#E7E766; 
    	-webkit-box-shadow:0 0 30px 30px #E7E766;
		box-shadow:0 0 30px 30px #E7E766;
	}
	#innerSun.Lux-350{
		background-color:#F6F64F; 
    	-webkit-box-shadow:0 0 35px 35px #F6F64F;
		box-shadow:0 0 35px 35px #F6F64F;
	}
	#innerSun.Lux-400{
		background-color:#EEEE3A; 
    	-webkit-box-shadow:0 0 40px 50px #EEEE3A;
		box-shadow:0 0 40px 40px #EEEE3A;
	}
	#innerSun.Lux-450{
		background-color:#FBFB32; 
    	-webkit-box-shadow:0 0 45px 45px #FBFB32;
		box-shadow:0 0 45px 45px #FBFB32;
	}
	#innerSun.Lux-500{
		background-color:#FAFA2A; 
    	-webkit-box-shadow:0 0 50px 50px #FAFA2A;
		box-shadow:0 0 50px 50px #FAFA2A;
	}
	#innerSun.Lux-550{
		background-color:#FAFA20; 
    	-webkit-box-shadow:0 0 55px 55px #FAFA20;
		box-shadow:0 0 55px 55px #FAFA20;
	}
	#innerSun.Lux-600{
		background-color:#FBFB16; 
    	-webkit-box-shadow:0 0 60px 60px #FBFB16;
		box-shadow:0 0 60px 60px #FBFB16;
	}
	#innerSun.Lux-650{
			background-color:#FBFB16; 
    -webkit-box-shadow:0 0 65px 65px #FBFB16;
	box-shadow:0 0 65px 65px #FBFB16;
	}
	#innerSun.Lux-700{
	
		background-color:#FFFF00; 
    -webkit-box-shadow:0 0 70px 70px #FFFF00;
	box-shadow:0 0 70px 70px #FFFF00;
	}

